* {
    margin: 0;
    padding: 0;
}

.grid-item {
    background-color: white;
    border: 1px solid black;
    width: calc(100%/ 16);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}